name: Build Kernel on GitHub Actions

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout source
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Update Environment
      run: sudo apt update -y

    - name: Install Dependencies
      run: sudo apt install -y git build-essential zip curl

    - name: Download Neutron Toolchain
      run: bash scripts/hani-ci.sh --tools

    - name: Build hanikrnl.
      run: bash scripts/hani-ci.sh --build

    - name: Upload kernel
      uses: actions/upload-artifact@v4
      with:
        name: hanikrnl
        path: 4.19-hanikrnl.*-chime*.zip
